* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.outer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-outer {
    height: fit-content;
    width: fit-content;
    display: grid;
    justify-items: center;
    row-gap: 45px;

    & div {
        display: grid;
        row-gap: 25px;
    }

    & div:nth-child(1) {
        font-size: large;
        font-weight: 700;
    }

    & div:nth-child(2) {
        font-size: 18px;
        font-weight: 400;
        color: #94989F;
    }
}

.plimg {
    height: 105px;
    width: 96px;
}

.loginbtn {
    height: 50px;
    width: 150px;
    background-color: white;
    border: 1px solid #3466e8;
    border-radius: 5px;
    font-size: medium;
    font-weight: 700;
    color: #3466e8;
    cursor: pointer;
}

.pl-txt {
    display: flex;
    justify-content: center;
}